In [1]:
import os, sys, re, string
import numpy as np
import pandas as pd
import nltk
from data_preparation import take_a_shower, clean_content_aravec
from nltk.corpus import stopwords
from tqdm import tqdm

import offensive vocabulary

In [2]:
off_vocab = pd.read_csv('./data/off_vocab.csv', header=None, encoding="utf-16")

In [3]:
off_vocab.head()

        0
0    اسير
1    تقود
2    اولد
3  القحبه
4    زامل

In [4]:
off_vocab.shape

(363, 1)

import our data

In [5]:
data = pd.read_csv('./data/results.csv', encoding="utf-16")

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37607 entries, 0 to 37606
Data columns (total 2 columns):
Username    37564 non-null object
Comment     37607 non-null object
dtypes: object(2)
memory usage: 587.7+ KB

In [7]:
data.shape

(37607, 2)

In [8]:
# Set a new column @bool 
data['is_off'] = 0
data['off_word'] = '0'
data.head()

,Username,Comment,is_off,off_word
0,Username,Comment,0,0
1,Aya El Ballutee,هادك المجرم لي قتل الطفل عدنان خصو لاعدام,0,0
2,Karima FDL,أي واحد دارلي ابوني الله يفتح عليه بيبان الخير...,0,0
3,Samira Sami,الطفل عدنان الله يرحمو ولكن لن يرتاح عدنان...,0,0
4,رقية محتاج,الله يرحم طفل عدنان وهاد لمجرمين ومغتصبين الله...,0,0

In [9]:
def label_off(df):
    for i, row in tqdm(df.iterrows()):
        cleaned = take_a_shower(row.Comment)
        for word in cleaned.split():
            if word in off_vocab[0].to_list():
                data.at[i, 'is_off'] = 1
                data.at[i, 'off_word'] =  data.at[i, 'off_word'] + ', ' +word
#                 print(cleaned_comment+ "===>" + word + "===>" + str(data.at[i, 'isOFF']))

In [10]:
label_off(data)

37607it [00:33, 1129.20it/s]

In [11]:
sum(data['is_off'])

3701

In [12]:
data.head()

,Username,Comment,is_off,off_word
0,Username,Comment,0,0
1,Aya El Ballutee,هادك المجرم لي قتل الطفل عدنان خصو لاعدام,1,"0, المجرم, قتل, لاعدام"
2,Karima FDL,أي واحد دارلي ابوني الله يفتح عليه بيبان الخير...,0,0
3,Samira Sami,الطفل عدنان الله يرحمو ولكن لن يرتاح عدنان...,1,"0, اعدام, المجرم"
4,رقية محتاج,الله يرحم طفل عدنان وهاد لمجرمين ومغتصبين الله...,0,0

In [13]:
data.to_csv('./data/data_v1.csv', index=False, encoding="utf-16")